main {
    flex: 1;
    display: flex;
    overflow: hidden;
    position: relative;
}

.outer {
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10em 0em;
    align-items: flex-start;
}

.inner1, .inner2 {
    display: inline-block;
    width: 100%;
    height: auto;
    text-align: center;
}

.inner1 {
    position: relative;
    padding-left: 20%;
}

.inner2 {
    position: relative;
    padding-right: 20%;
}

div.inner1 > *, div.inner2 > *, button {
    color: rgb(38, 89, 161);
    font-size: 30px;
}

h1 {
    padding-bottom: 1em;
    height: 60px;
}

button {
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    margin-top: 1em;
}

input {
    border: 1px solid rgb(38, 89, 161);
}

button, input {
    border-radius: 12px;
    padding: 0.2em;
}

.inputElement {
    line-height: 1.5em;
    font-size: 1em !important;
}

.inputWrapper {
    height: 150px;
}
