* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
  font-family: modernSansFontRegular;
  src: url("../fonts/MOON\ 2.0\ FREE/Moon2.0-Regular.otf");
}

@font-face {
  font-family: modernSansFontBold;
  src: url("../fonts/MOON\ 2.0\ FREE/Moon2.0-Bold.otf");
}

@font-face {
  font-family: modernSansFontLegacyBold;
  src: url("../fonts/MOON\ 2.0\ FREE/Legacy\ MOON\ Files/Moon\ Bold.otf");
}

#container {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  border: 3px solid red;
}

body {
  
  /* margin: 0; */
  background-color: rgb(93, 218, 149);
  display: flex;
  flex-direction: column;
  
  font-family: modernSansFontRegular;
}

body header {
border-bottom: 2px solid rgb(38, 89, 161);
}



header {
  display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0em 7px 25px rgb(237, 244, 224);
}




header li, ul {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 28px;
}

header li {
  transition: 0.5s;
}

header a {
  margin-right: auto;
}

.flex-container {
  /* list-style: none; */
  
    -ms-box-orient: horizontal;
}

.column {
  flex-direction: row;
}

/* .sidebar {
  max-width: 20em;
}

.sidebar, main {
  flex-direction: row;
} */

#sidebar {
  float: left;
  margin-left: 1em;
  margin-right: 3em;
  padding-left: 2em;
  min-width: 10em;
  max-width: 300em;
  /* background-color: #02a8ea0a; */
  min-height: 100vh;
  border-right: 2px solid rgb(237, 244, 224);
  border-left: 2px solid rgb(237, 244, 224);
}

#sidebar ul li {
  margin-bottom: 1em;
}

#sidebar ul li a {
  color: black;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(38, 89, 161);
  -webkit-text-stroke: 0.5px black;
}

a:hover {
  color:rgb(237, 244, 224);
  -webkit-text-stroke: 1px rgb(237, 244, 224);
}

main {
  flex: 1;
  /* float: right; */
  font-size: larger;
  margin-left: 200px;
}

h1 {
  font-family: modernSansFontBold;
  margin-bottom: 1em;
}

p {
  line-height: 1.5em;
}

footer {
  min-height: 50px;
}

main, footer {
  font-family: modernSansFontRegular;
    color: rgb(237, 244, 224);
    margin-left: 5em;
    margin-top: 3em;
    margin-right: 4em;
}

#logo {
  max-width: 15em;
  margin: -15px;
  margin-bottom: -25px;

}